.searchInputWrapper {
    width: 100%;
    text-align: center;
}
  
.searchInput {
    width: 60%;
    font-size: var(--normal-size);
    padding: var(--small-size) var(--normal-size);
    border: none;
    outline: 1px solid var(--primary-outline);
    border-radius: 5px;
}
  
.searchInput:focus {
    border: none;
    outline: 2px solid var(--primary-outline-focused);
}